<div id="calculations" class="card stack" style="display: none;">
<h2 class="heading-2xl">Calculations</h2>
<p>Each door will have a <span class="overlay"></span> overlay on all outer edges and a <span class="gap"></span> gap between them.</p>
<h3 class="heading-xl">Final Door Dimensions:</h3>
<p><strong>Total width of both doors: </strong><span class="openingWidth"></span> + <span class="overlay"></span> + <span class="overlay"></span> = <span class="totalWidth"></span></p>
<p><strong>Each door width: </strong>( <span class="totalWidth"></span> - <span class="gap"></span> ) / <span class="numDoors"></span> = <span class="doorWidth"></span></p>
<p><strong>Each door height: </strong><span class="openingHeight"></span> + <span class="overlay"></span> + <span class="overlay"></span> = <span class="doorHeight"></span></p>
<hr/>
<h3 class="heading-xl">Stiles (Vertical Pieces) - <span class="stileRailCount"></span> Pieces</h3>
<p><strong>Width: </strong><span class="stileRailWidth"></span></p>
<p><strong>Length: </strong><span class="stileHeight"></span></p>
<h3 class="heading-xl">Rails (Horizontal Pieces) - <span class="stileRailCount"></span> Pieces</h3>
<p><strong>Width: </strong><span class="stileRailWidth"></span></p>
<p><strong>Length: </strong><span class="railLength"></span></p>
<p><strong>Final Rail Length Calculation:</strong></p>
<p><strong>Frame opening for the panel: </strong><span class="doorWidth"></span> - ( 2 × <span class="stileRailWidth"></span> ) = <span class="panelOpeningWidth"></span></p>
<p>Each tenon extends 3/8" per end, so we add 3/4" to the rail length:</p>
<p><strong>Final rail length: </strong><span class="railLength"></span></p>
<h3 class="heading-xl">Panels (Plywood) - <span class="numDoors"></span> Pieces</h3>
<p><strong>Width: </strong><span class="panelWidth"></span></p>
<p><strong>Height: </strong><span class="panelHeight"></span></p>
<p><strong>Width Calculation:</strong></p>
<p>The panel fits into a <span class="panelThickness"></span> wide x 3/8" deep groove on each stile.</p>
<p>The visible opening for the panel is <span class="panelOpeningWidth"></span>.</p>
<p>The panel extends 3/8" into each stile’s groove.</p>
<p><strong>Final panel width: </strong><span class="panelOpeningWidth"></span> + ( 2 × 3/8" ) = <span class="panelWidth"></span>.</p>
<p><strong>Height Calculation:</strong></p>
<p>The visible opening for the panel is <span class="doorHeight"></span> - ( 2 × <span class="stileRailWidth"></span> ) = <span class="panelOpeningHeight"></span>.</p>
<p>The panel extends 3/8" into each rail’s groove.</p>
<p><strong>Final panel height: </strong><span class="panelOpeningHeight"></span> + ( 2 × 3/8" ) = <span class="panelHeight"></span>.</p>
</div>