<div id="calculations" class="card stack" style="display: none;">
<h2 class="heading-2xl">Calculations</h2>
<p>Each door will have a ${newCabinet.overlay} overlay on all outer edges and a ${newCabinet.gap} gap between them.</p>
<h3 class="heading-xl">Final Door Dimensions:</h3>
<p><strong>Total width of both doors: </strong>( ${newCabinet.openingWidth} + ${newCabinet.overlay} + ${newCabinet.overlay} = ${newCabinet.totalWidth} )</p>
<p><strong>Each door width: </strong>( (${newCabinet.totalWidth} - ${newCabinet.gap}) / ${numDoors} = ${newCabinet.doors[0].width} )</p>
<p><strong>Each door height: </strong>( ${newCabinet.openingHeight} + ${newCabinet.overlay} + ${newCabinet.overlay} = ${newCabinet.doors[0].height} )</p>
<hr/>
<h3 class="heading-xl">Stiles (Vertical Pieces) - ${newCabinet.numDoors * 2} Pieces</h3>
<p><strong>Width: </strong>${newCabinet.stileRailWidth}</p>
<p><strong>Length: </strong>${newCabinet.stileHeight}</p>
<h3 class="heading-xl">Rails (Horizontal Pieces) - ${newCabinet.numDoors * 2} Pieces</h3>
<p><strong>Width: </strong>${newCabinet.stileRailWidth}</p>
<p><strong>Length: </strong>${newCabinet.railLength}</p>
<p><strong>Final Rail Length Calculation:</strong></p>
<p><strong>Frame opening for the panel: </strong>(  ${newCabinet.doors[0].width} - (2 × ${newCabinet.stileRailWidth}) = ${new Measurement(newCabinet.doors[0].width - 2 * newCabinet.stileRailWidth)} )</p>
<p>Each tenon extends 3/8" per end, so we add 3/4" to the rail length:</p>
<p><strong>Final rail length: </strong>${newCabinet.railLength}</p>
<h3 class="heading-xl">Panels (Plywood) - ${newCabinet.numDoors} Pieces</h3>
<p><strong>Width: </strong>${newCabinet.panelWidth}</p>
<p><strong>Height: </strong>${newCabinet.panelHeight}</p>
<p><strong>Width Calculation:</strong></p>
<p>The panel fits into a ${newCabinet.panelThickness} wide x 3/8" deep groove on each stile.</p>
<p>The visible opening for the panel is ( ${new Measurement(newCabinet.doors[0].width - 2 * newCabinet.stileRailWidth)} ).</p>
<p>The panel extends 3/8" into each stile’s groove.</p>
<p><strong>Final panel width: </strong>( ${new Measurement(newCabinet.doors[0].width - 2 * newCabinet.stileRailWidth)} + (2 × 3/8") = ${newCabinet.panelWidth} ).</p>
<p><strong>Height Calculation:</strong></p>
<p>The visible opening for the panel is ( ${newCabinet.doors[0].height} - (2 × ${newCabinet.stileRailWidth}) = ${new Measurement(newCabinet.doors[0].height - 2 * newCabinet.stileRailWidth)} ).</p>
<p>The panel extends 3/8" into each rail’s groove.</p>
<p><strong>Final panel height: </strong>( ${new Measurement(newCabinet.doors[0].height - 2 * newCabinet.stileRailWidth)} + (2 × 3/8") = ${newCabinet.panelHeight} ).</p>
</div>