<div class="form-group">
  <div class="card">
    <form onsubmit="event.preventDefault(); calculateCutList();">
      <h1 class="title">Shaker Door Calculator</h1>
      <label>Number of Doors: <input type="number" id="numDoors" class="input-field" step="1" min="1" value="2"></label>
      <label>Opening Width (inches): <input type="number" id="openingWidth" class="input-field" step="0.125" min="0" value="48"></label>
      <label>Opening Height (inches): <input type="number" id="openingHeight" class="input-field" step="0.125" min="0" value="36"></label>
      <label>Stile &amp; Rail Width (inches): <input type="number" id="stileRailWidth" class="input-field" step="0.25" min="0.75" value="3"></label>
      <label>Overlay (inches): <input type="number" id="overlay" class="input-field" step="0.25" min="0" value="0.75"></label>
      <label>Gap Between Doors (inches): <input type="number" id="gap" class="input-field" step="0.125" min="0" value="0.125"></label>
      <label>Stile &amp; Rail Thickness (inches): <input type="number" id="stileRailThickness" class="input-field" step="0.25" min="0" value="0.75"></label>
      <label>Panel Thickness (inches): <input type="number" id="panelThickness" class="input-field" step="0.25" min="0.25" value="0.25"></label>
      <button onclick="calculateCutList()" class="btn">Calculate</button>
    </form>
  </div>
</div>
