{% macro field(id, text, step='', min='', max='', value='') %}
  <label for="{{ id }}">{{ text }}: </label><input type="number" id="{{ id }}" class="input-field" step="{{ step }}" min="{{ min }}" max="{{ max }}" value="{{ value }}"/>
{% endmacro %}