<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="assets/favicon.ico">
  <!--<link rel="stylesheet" href="/css/main.css">-->
  <title>{{ title or metadata.title }}</title>
  {% css %}{% include "assets/css/main.css" %}{% endcss %}
  <style>{% getBundle "css" %}</style>

  {% js %}{% include "assets/js/main.js" %}{% endjs %}
  <script>{% getBundle "js" %}</script>
</head>
<body>
  {{ content | safe }}
</body>
</html>
